* {
  margin: 0;
  padding: 0;

}

@widthALL: 1616px;
@widthBody: 100%;

html,
body {
  width: @widthBody;
  height: 100%;
  font-family: 'Lato', sans-serif;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;

}


.container {

  width: 1170px;
  margin: 0 auto;

}

/*********************************************************************************/
/* INDEX                                                                        */
/*********************************************************************************/

.slider_main {
  margin-top: 25px;
  margin-bottom: 30px;
  display: flex;


}

.logo-photo {
  display:flex;
  text-decoration: none;
}

.logo-text {
  width: 93px;
  height: 19px;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 0 0 12px;

}

.logo-color_D {
  // Style for "BRAND"
  width: 93px;
  height: 19px;
  color: #f16d7f;
  font-size: 27px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.68px;

}

.search-main {
  margin-top: 8px;
}

.search {
  display:flex;
  margin-left: 37px;
  float:left;
  position: relative;
}

.search button {
  width: 87px;
  height: 40px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  color: #222222;
  text-align: left;
  padding-left: 9px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;


}

.search .arrow_downImg {
  position: absolute;
  top: 18px;
  left: 69px;

}

.search .form-email {
  width: 280px;
  height: 38px;
  border-radius: 0 0 0 0;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  padding-left: 16px;
  letter-spacing: 0.35px;


}

.form-loupe {
  width: 36px;
  height: 38px;
  border: 1px solid #e6e6e6;
  border-left:none;
  border-radius: 0 3px 3px 0;
  background-color: #ffffff;
  position: relative;
}

.search .loupe-img {
  position: absolute;
  top: 13px;
  left: 397px;

}

.account {
  display: flex;
  position: relative;
  margin-left: 349px
}

.main-button_account {
  margin-top: 14px;
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  border: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.38px;


}

.main-basket {
  margin-top: 23px;
  margin-right: 26px;
}

.account .arrow_down1Img {
  position: absolute;
  top: 30px;
  left: 173px;

}

.top-line  {
  border: 1px solid #ececec;
  width: 1600px;

}

.main-menu {
  display: flex;
}

.main-menu_main-list {
  display: flex;
  margin-left: 260px;
  margin-top: 19px;
}

.main-menu_list {
  list-style-type: none;
}

.main-menu_link {
  text-decoration: none;
  color: #222222;
  width: 680px;
  height: 10px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  padding: 22px;

}

.main-photo {
  margin-top: 22px;
  width: 1600px;
  height:665px;
  background-image: url('img/Layer_25.png');
  position: relative;
  display: flex;
  flex-direction: column;

}


.main-photo_title {
  display: flex;
  color: #222222;
  font-size: 60px;
  letter-spacing: 1.5px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  margin-left: 260px;
  margin-top: 224px;

}

.main-photo_title2 {
  display: flex;
  height: 92px;
  color: #222222;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  margin-left: 260px;

}

.last-color_FASHION {
  color: #f16d7f;
  letter-spacing: 1px;
  margin-left:7px;
}

.box-red {
  width: 12px;
  height: 101px;
  background-color: #f16d7f;
  top: 238px;
  left: 236px;
  position: absolute;
}



.four-main_photo  {
  margin-top: 98px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.four-main_photoLeft {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  position: relative;
}

.four-main_photoRight {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  position: relative;
}

.four-main_photo_1_1 {
  display: flex;
  margin-bottom: 20px;
}

.four-main_photo_2_1 {
  margin-bottom: 20px;
}

 .box-left:nth-of-type(1) {
  background-color: #ffffff;
  width: 175px;
  height: 82px;
  margin-top: 26px;
  position: absolute;


}

.box-left:nth-of-type(2)  {
  background-color: #ffffff;
  width: 225px;
  height: 82px;
  margin-top: 584px;
  position: absolute;

}


.box-right:nth-of-type(1) {
  background-color: #ffffff;
  width: 162px;
  height: 82px;
  margin-top: 26px;
  position: absolute;

}

.box-right:nth-of-type(2) {
  background-color: #ffffff;
  width: 180px;
  height: 82px;
  margin-top: 309px;
  position: absolute;



}

.box_text2 {
  color: #222222;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.45px;
  text-align: left;
  text-transform: uppercase;
  padding-left: 19px;
  padding-top: 16px;
}

.box_text1 {
  color: #f16d7f;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  padding-left: 19px;
  padding-bottom: 16px;
}

.fetured_item {
  margin-top: 100px;

}
.fetured_item  h2 {

  color: #222222;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.75px;
  margin-bottom: 16px;

}

.fetured_item  p {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.35px;

}

.fetured_item_box {
  width: 1169px;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.fetured_item_layer {

  width: 261px;
  height: 280px;
  background-size: cover;
  background-position: center;
  margin-bottom: 117px;
}
.fetured_item_layer2 {
  width: 261px;
  height: 380px;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}

.fetured_item_layer3 {
  width: 261px;
  height: 280px;
}

.fetured_item_layer2 .item_letter {
  color: #222222;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  height: 11px;
  padding-top: 300px;
  padding-left:14px;
}

.fetured_item_layer2 .item_price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  padding-top:4px;
  padding-left:14px;
}




.fetured_item_layer2:hover  {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);

}

.fetured_item_layer3:hover   {
  background-color: #3a3838;
  opacity: 0.7;

}
.all-product_button {
  display: flex;
  justify-content: center;
  position: relative;
}

.all-product_button button {

  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  padding-left: 24px;
  padding-right: 19px;
  letter-spacing: 0.4px;
  margin-bottom: 113px;

}

.all-product_button a {
  position: absolute;
  top: 11px;
  left: 880px;

}

.main_offer {
  display: flex;
  margin-bottom: 97px;
  width: 1140px;
  height: 529px;
  background-color: #222224;
}

.main_offerLeft {
  background-image: url('img/Layer_39.png');
  width: 767px;
  height: 529px;
}

.main_offerRight {

  width: 373px;
  height: 529px;

}


.main_offerLeft h1 {
  padding-top: 146px;
  padding-left: 39px;
  width: 293px;
  height: 58px;
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;

}

.main_offerLeft .last-colorOFFER{
  color: #f16d7f;
  font-size: 54px;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding-left: 20px;
  text-align: left;
  text-transform: uppercase;
}

.main_offerLeft h2 {
  padding-left: 39px;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0.9px;

}

.main_offerRight {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main_offerRight li {
  list-style-type: none;
}


.offerBlock {
  display: flex;
  flex-wrap: wrap;
  width: 373px;
}

.column1  {
  display: flex;
  padding-top: 48px;
  padding-bottom: 124px;
  padding-left: 36px;
}

.column1_1  {
  padding-top: 48px;
  padding-left: 33px;
}

.column1_1 h1 {
  height: 20px;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.5px;
  padding-bottom: 17px;
}

.column1_1 p {
  width: 219px;
  height: 58px;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.35px;
  line-height: 24px;

}

.column2  {
  display: flex;
  padding-bottom: 114px;
  padding-left: 36px;
}

.column2_2  {
  padding-left: 33px;
}

.column2_2 h1 {
  width: 162px;
  height: 16px;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.5px;
  padding-bottom: 17px;
}

.column2_2 p {
  width: 219px;
  height: 58px;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.35px;
  line-height: 24px;

}

.column3  {
  display: flex;
  padding-left: 36px;
}

.column3_3  {

  padding-left: 33px;

}

.column3_3 h1 {
  width: 168px;
  height: 20px;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.5px;
  padding-bottom: 17px;
}

.column3_3 p {
  width: 219px;
  height: 58px;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.35px;
  line-height: 24px;
}

.subscribe {
  width: 1600px;
  height: 438px;
  margin-bottom: 123px;
  background-image: url('img/Layer_41.png');
  position: relative;

}

.subscribe_layer {
  display: flex;
  width: 1600px;
  height: 438px;
  background-image: url('img/Layer_41_1.png');
  position:absolute;
  top:0;
  left:0;
}


.subscribe_blockLeft {
  display: flex;
  flex-wrap: wrap;
  width: 809px;
  height: 438px;
  border-right: 1px solid #ffffff;
}

.subscribe_Block {
  display: flex;
  flex-wrap: wrap;
}


.subscribe_Block li {
  list-style-type: none;
}

.subscribe_column_1 {
  display: flex;
  margin-top: 111px;
  margin-left: 222px;
}

.subscribe_column_2 {
  margin-top: 111px;
  margin-left: 28px;
}

.subscribe_column_2 p {
  width: 386px;
  height: 68px;
  color: #222224;
  font-style: italic;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.4px;
  line-height: 22px;
  padding-bottom: 19px;
}

.subscribe_column_2 h2 {
  width: 82px;
  height: 27px;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: normal;
  text-align: left;
}

.subscribe_column_2 h3 {
  color: #222224;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.3px;
}

.rectangle {
  width: 38px;
  height: 4px;
  display: inline-block;
  background-color: #c7c7c7;
  margin-right: 13px;

}

.rectangle:hover {
  background-color: #f16d7f;
}

.rectangle-active{
  width: 38px;
  height: 4px;
  background-color: #f16d7f;

}

.pagination {
  position: absolute;
  left: 332px;
  bottom: 156px;
  text-align: center;
}


.subscribe_blockRight {
  width: 809px;
  height: 438px;
}

.subscribe_Block_2 li {
  list-style-type: none;
}

.subscribe_Block_2 {
  margin-top: 148px;

}

.subscribe_Block_2 input {
  float:left;
  width: 282px;
  height: 46px;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  border: none;
  opacity: 0.67;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  padding-left: 28px;
  letter-spacing: 0.35px;
  margin-left: 92px;
}

.subscribe_Block_2 button {
  float:left;
  width: 104px;
  height: 46px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.35px;
}

.subscribe_Block_2 h1 {
  width: 277px;
  height: 41px;
  color: #222224;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.35px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 156px;
}

.subscribe_Block_2 h2 {
  width: 277px;
  height: 41px;
  color: #222224;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  margin-left: 163px;
  letter-spacing: 0.6px;
}

.footer_top {
  display: flex;
  margin-bottom: 89px;
}

.logo_footer {
  float:left;
}

.logo-list_footer {
  list-style-type: none;
  float:left;

}

.logo-list_footer h3 {
  // Style for "BRAND"
  width: 93px;
  height: 19px;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 0 0 12px;
  margin-left: -42px;


}

.logo-list_footer img {
  margin-left: -23px;
}

.logo-list_footer .last-color_footer {
  width: 93px;
  height: 19px;
  color: #f16d7f;
  font-size: 27px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.68px;

}

.footer .footer_block:nth-of-type(1) {
  display: flex;
  flex-direction: column;

}
.footer .footer_block:nth-of-type(2) {
  margin-left: 64px;
}
.footer .footer_block:nth-of-type(3) {

}
.footer .footer_block:nth-of-type(4) {
  margin-left: 25px;
}


.footer_block .text_left_1 {

  width: 427px;
  height: 111px;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.35px;
  line-height: 22px;
}

.footer_block .text_left_2 {

  width: 427px;
  height: 89px;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.35px;
  line-height: 22px;
}

.footer_block li {
  list-style-type: none;
  margin: 20px;
}

.footer_block a {
  text-decoration: none;
}

.footer_block h1 {
  height: 14px;
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  margin-bottom: 45px;

}


.footer_block h2 {
  width: 179px;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.4px;


}

.footer_down {
  display: flex;
  width: 1617px;
  height: 79px;
  margin-left: -222px;
  background-color: #e6e6e6;
}

.footer_down h2 {
  height: 14px;
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-top: 33px;
  margin-left: 222px;
}

.footer_blockRight {
  display: flex;
  margin-left: 701px;
  margin-top: 24px;
  position: relative;

}

.footer_blockRight .footer_block2:nth-of-type(1) {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  margin-right: 8px;

}


.footer_blockRight .footer_block2:nth-of-type(2) {
  width: 32px;
  height: 32px;
  background-color: #f16d7f;
  margin-right: 8px;
}
.footer_blockRight .footer_block2:nth-of-type(3) {
  width: 32px;
  height: 32px;
  background-color: #e6e6e6;
  margin-right: 8px;
}
.footer_blockRight .footer_block2:nth-of-type(4) {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  margin-right: 8px;
}
.footer_blockRight .footer_block2:nth-of-type(5) {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
}

.footer_item_1 {
  position: absolute;
  top: 8px;
  left: 11px;

}

.footer_item_2 {
  position: absolute;
  top: 8px;
  left: 49px;

}

.footer_item_3 {
  position: absolute;
  top: 8px;
  left: 91px;

}

.footer_item_4 {
  position: absolute;
  top: 8px;
  left: 130px;

}

.footer_item_5 {
  position: absolute;
  top: 8px;
  left: 166px;

}